newspaper3k==0.2.8
spacy==3.7.2
beautifulsoup4==4.12.2
requests==2.31.0
pandas==2.1.4
flask==3.0.0
python-dotenv==1.0.0
googlesearch-python==1.2.3
schedule==1.2.0
lxml==4.9.3
lxml-html-clean==0.1.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz 
